@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Bodoni Moda", sans-serif;
    color: #ecebe4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #130225;
}


#gameplay-interface {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -225px;
}

#game-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
    color: #ecebe4;
    text-align: center;
}

#tip-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    background-color: #Fdb095;
}

#tip-container-header {
    font-weight: 900;
    color: #130225;
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 10px;
}

#instruction-content {
    color: #130225;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
}

#tip-container button {
    background: none;
    border: none;
    cursor: pointer;
}

#tip-container button img {
    width: 20px;
    height: 20px;
}

#game-stats {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#game-stats #round-stats, #human-stats, #computer-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #130225;
    background: #Fdb095;
    border-radius: 6px;
    padding: 13px 0;
    font-weight: 700;
    width: 150px;
}

#round-number, #human-number, #computer-number {
    color: #130225;
    font-size: 25px;
    font-weight: 600;
}

#outcome-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#moves-played {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#moves-played h3 {
    font-size: 20px;
    font-weight: 800;
}

.players-moves {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5958e;
    padding: 20px 10px;
    margin: 20px 0;
    width: 200px;
    border-radius: 6px;
    gap: 10px;
}

.players-moves img {
    width: 130px;
    height: 130px;
}

#play-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#play-buttons button {
    width: 80px;
    height: 40px;
    background-color: #ecebe4;
    color: #130225;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#restart-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#restart-button {
    color: #130225;
    height: 40px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    width: 260px;
    border: none;
    cursor: pointer;
    background-color: #ecebe4;
}

#tip-container button:hover,
#play-buttons button:hover,
#restart-button:hover {
    transform: scale(1.07);
}

